<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar-wrappper">
                    <div class="healthbar text-center" :style="{width: points.player + '%'}">
                        {{points.player}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar-wrappper">
                    <div class="healthbar text-center" :style="{width: points.monster + '%'}">
                        {{points.monster}}
                    </div>
                </div>
            </div>
        </section>
        <section v-if="!gameIsInit" class="row controls">
            <div class="small-12 columns">
                <button @click="startGame" v-bind:disabled="loading" id="start-game">START NEW GAME</button>
            </div>
        </section>
        <section v-else="gameIsInit" class="row controls">
            <div class="small-12 columns">
                <button @click="performAction('ATTACK')" id="attack">ATTACK</button>
                <button @click="performAction('SPECIAL')" id="special-attack">SPECIAL ATTACK</button>
                <button @click="performAction('HEAL')" id="heal">HEAL</button>
                <button @click="giveUp" id="give-up">GIVE UP</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">
                <ul v-if="history.length > 0">
                    <li v-for="(h,index) in outputHistory" v-bind:key="index" :class="getClass(index)">
                        {{h}}
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="./app.js"></script>
</body>

</html>
